In [79]:
from pathlib import Path
import duckdb
import pandas as pd
# Define the path to the Parquet file
crs_file = Path("~/Downloads") / "CRS.parquet"
dac1_file = Path("~/Downloads") / "Table1_Data.csv"

pd.set_option('display.max_rows', 100)  # Set a specific number of rows
pd.set_option('display.width', 1000)       # Adjust overall display width
pd.set_option('display.max_colwidth', 500)


data_save_path = Path("../") 

DAC_COUNTRIES = [
  "Australia", "Austria", "Belgium", "Canada", "Czechia", "Denmark", "Finland", "France", "Germany", "Greece", "Hungary",
  "Iceland", "Ireland", "Italy", "Japan", "Korea", "Luxembourg", "Netherlands", "New Zealand", "Norway", "Poland",
  "Portugal", "Slovak Republic", "Slovenia", "Spain", "Sweden", "Switzerland", "United Kingdom", "United States", "Estonia", "Lithuania"
]

education = ["Education policy and administrative management",
 "Education facilities and training",
 "Teacher training",
 "Educational research",
 "Primary education",
"Basic life skills for adults",
"Basic life skills for youth",
"Primary education equivalent for adults",
 "Early childhood education",
"School feeding",
 "Secondary education",
"Lower secondary education",
"Upper Secondary Education (modified and includes data from 11322)",
 "Vocational training",
 "Higher education",
 "Advanced technical and managerial training"]

purpose_codes = [110,
111,
11110,
11120,
11130,
11182,
112,
11220,
11230,
11231,
11232,
11240,
11250,
113,
11320,
11321,
11322,
11330,
114,
11420,
11430]

## ONE Campaign

In [89]:
from oda_data import ODAData, set_data_path

# set the path to the folder where the data should be stored
set_data_path("data")

# create object, specifying key details of the desired output
data = ODAData(years=range(2015, 2023), currency="USD", prices="constant", base_year=2022, include_names=True)

# load the desired indicators
data.load_indicator(indicators = ["imputed_multi_flow_disbursement_gross"])

# get the data
one_campaign_df = data.get_data()

2024-12-17 20:19:19,924 - pydeflate - INFO:
 Reading DAC data from /Users/robertwest/Documents/Dev/DonorTracker/python/data/dac_2024-12-17.parquet
2024-12-17 20:19:28,094 - pydeflate - INFO:
 Missing exchange data for:
87: 2017, 2018, 2019, 2020

In [92]:
# Convert the DataFrame to Pandas dtypes
one_campaign_df = one_campaign_df.convert_dtypes()

# Ensure 'value' is numeric
one_campaign_df['value'] = pd.to_numeric(one_campaign_df['value'], errors='coerce')

# Drop NaNs in 'year' and 'value'
one_campaign_df = one_campaign_df.dropna(subset=['year', 'value'])

# Filter rows
filtered = one_campaign_df[
    (one_campaign_df['purpose_code'].isin(purpose_codes)) &
    (one_campaign_df['donor_name'].isin(DAC_COUNTRIES)) 
][['year', 'value']]

# Group and sum
filtered.groupby(['year'], as_index=False)['value'].sum()

   year        value
0  2017   878.830682
1  2018  1238.515856
2  2019   991.939487
3  2020   805.795712
4  2021   667.917207
5  2022   626.071333

## CRS DATA

In [30]:
with duckdb.connect() as conn:

    cols_query = f"""
    SELECT * FROM '{crs_file.as_posix()}'
    limit 1
    """
    result = conn.execute(cols_query)

    # Get the column names from the description attribute
    column_names = [desc[0] for desc in result.description]

column_names

['year',
 'donor_code',
 'de_donorcode',
 'donor_name',
 'agency_code',
 'agency_name',
 'crs_id',
 'project_number',
 'initial_report',
 'recipient_code',
 'de_recipientcode',
 'recipient_name',
 'region_code',
 'de_regioncode',
 'region_name',
 'incomegroup_code',
 'de_incomegroup_code',
 'incomegroup_name',
 'flow_code',
 'flow_name',
 'bi_multi',
 'category',
 'finance_t',
 'aid_t',
 'usd_commitment',
 'usd_disbursement',
 'usd_received',
 'usd_commitment_defl',
 'usd_disbursement_defl',
 'usd_received_defl',
 'usd_adjustment',
 'usd_adjustment_defl',
 'usd_amount_untied',
 'usd_amount_partial_tied',
 'usd_amount_tied',
 'usd_amount_untied_defl',
 'usd_amount_partial_tied_defl',
 'usd_amounttied_defl',
 'usd_irtc',
 'usd_expert_commitment',
 'usd_expert_extended',
 'usd_export_credit',
 'currency_code',
 'commitment_national',
 'disbursement_national',
 'grant_equiv',
 'usd_grant_equiv',
 'short_description',
 'project_title',
 'purpose_code',
 'purpose_name',
 'sector_code',
 'sector_name',
 'channel_code',
 'channel_name',
 'channel_reported_name',
 'parent_channel_code',
 'geography',
 'ld_cflag',
 'ld_cflag_name',
 'expected_start_date',
 'completion_date',
 'long_description',
 'sd_gfocus',
 'keywords',
 'gender',
 'environment',
 'dig',
 'trade',
 'rmnch',
 'drr',
 'nutrition',
 'disability',
 'ftc',
 'pba',
 'investment_project',
 'blended_finance_type',
 'biodiversity',
 'climate_mitigation',
 'climate_adaptation',
 'desertification',
 'commitment_date',
 'type_repayment',
 'number_repayment',
 'interest1',
 'interest2',
 'repaydate1',
 'repaydate2',
 'usd_interest',
 'usd_outstanding',
 'usd_arrears_principal',
 'usd_arrears_interest',
 'capital_expend',
 'ps_iflag',
 'ps_iflag_name',
 'psi_add_type',
 'psi_add_desc',
 'psi_add_dev_obj']

# DAC1 DATA

In [ ]:
with duckdb.connect() as conn:

    cols_query = f"""
    SELECT * FROM '{dac1_file.as_posix()}'
    LIMIT 1
    """
    result = conn.execute(cols_query)

    # Get the column names from the description attribute
    column_names = [desc[0] for desc in result.description]

column_names

['DONOR',
 'Donor_1',
 'PART',
 'Part_1',
 'AIDTYPE',
 'Aid type',
 'FLOWS',
 'Fund flows',
 'AMOUNTTYPE',
 'Amount type',
 'TIME',
 'Year',
 'Value',
 'Flags']

## 2A All Donor ODA Trend

R code for 2A
TotalODAranking_previousyear <- DAC1data %>%
  filter(
    aid_type == "Official Development Assistance, grant equivalent measure",
    amount_type == "Current Prices",
    donor_name %in% DACcountries,
    flow_type == "Grant equivalents",
    Year == end_year - 1
  ) %>%
  arrange(desc(Value)) %>%
  select("donor_name", "Value") %>%
  summarise(
    Year = end_year - 1,
    Donor = donor_name,
    `Total ODA` = Value / 1000,
    Rank = paste0(rank(-Value, ties.method = "first"), c("st", "nd", "rd", rep("th", 17)))
  )

TotalODAranking_endyear <- DAC1data %>%
  filter(
    aid_type == "Official Development Assistance, grant equivalent measure",
    amount_type == "Current Prices",
    donor_name %in% DACcountries,
    flow_type == "Grant equivalents",
    Year == end_year
  ) %>%
  arrange(desc(Value)) %>%
  select("donor_name", "Value") %>%
  summarise(
    Year = end_year,
    Donor = donor_name,
    `Total ODA` = Value / 1000,
    Rank = paste0(rank(-Value, ties.method = "first"), c("st", "nd", "rd", rep("th", 17)))
  )
TotalODAranking <- rbind(TotalODAranking_endyear, TotalODAranking_previousyear)
TotalODAranking <- TotalODAranking[order(TotalODAranking$Year), ]

In [23]:
with duckdb.connect() as conn:
    query = f"""
    WITH base AS (
        SELECT 
            "Donor_1" AS donor,
            "Year" AS year,
            "Aid type" AS aid_type,
            "VALUE" AS value
        FROM '{dac1_file.as_posix()}'
        WHERE 1=1
        AND year BETWEEN 2022 AND 2023
        AND "Amount type" = 'Current Prices (USD millions)'
        AND "Fund flows" = 'Grant equivalents'
        AND "Donor_1" IN {tuple(DAC_COUNTRIES)}
        AND "Aid type" = 'Official Development Assistance, grant equivalent measure'
    ), 

    ranked AS (  
        SELECT
            donor,
            year,
            value / 1000 AS "Total ODA", 
            row_number() OVER (PARTITION BY year ORDER BY value DESC) AS rn
        FROM base
    )

    SELECT
        year AS "Year",
        donor AS "Donor",
        round("Total ODA", 4) AS "Total ODA", 
        CASE 
            WHEN rn::TEXT LIKE '%1' AND rn != 11 THEN rn || 'st'
            WHEN rn::TEXT LIKE '%2' AND rn != 12 THEN rn || 'nd'
            WHEN rn::TEXT LIKE '%3' AND rn != 13THEN rn || 'rd'
            ELSE rn || 'th'
        END AS "Rank"
    FROM ranked
    ORDER BY year, rn
    """
    result = conn.execute(query).fetchdf()

result.to_csv(data_save_path / "DT_update" / "alldonor_2A_ODATrend.csv", index=False)

## 2B ODA GNI Ranking

ODAGNIranking_previousyear <- DAC1data %>%
  filter(
    aid_type == "ODA grant equivalent as percent of GNI",
    amount_type == "Current Prices",
    donor_name %in% DACcountries,
    flow_type == "Grant equivalents",
    Year == end_year - 1
  ) %>%
  arrange(desc(Value)) %>%
  select("donor_name", "Value") %>%
  summarise(
    Year = end_year - 1,
    Donor = donor_name,
    `ODA as % GNI` = paste0(round(Value, 3), "%"),
    Rank = paste0(rank(-Value, ties.method = "first"), c("st", "nd", "rd", rep("th", 17)))
  )

ODAGNIranking_endyear <- DAC1data %>%
  filter(
    aid_type == "ODA grant equivalent as percent of GNI",
    amount_type == "Current Prices",
    donor_name %in% DACcountries,
    flow_type == "Grant equivalents",
    Year == end_year
  ) %>%
  arrange(desc(Value)) %>%
  select("donor_name", "Value") %>%
  summarise(
    Year = end_year,
    Donor = donor_name,
    `ODA as % GNI` = paste0(round(Value, 3), "%"),
    Rank = paste0(rank(-Value, ties.method = "first"), c("st", "nd", "rd", rep("th", 17)))
  )

ODAGNIranking <- rbind(ODAGNIranking_endyear, ODAGNIranking_previousyear)
ODAGNIranking <- ODAGNIranking[order(ODAGNIranking$Year), ]
print(ODAGNIranking)

In [24]:
with duckdb.connect() as conn:
    query = f"""
    WITH base AS (
        SELECT 
            "Donor_1" AS donor,
            "Year" AS year,
            "Aid type" AS aid_type,
            "VALUE" AS value
        FROM '{dac1_file.as_posix()}'
        WHERE 1=1
        AND year BETWEEN 2022 AND 2023
        AND "Amount type" = 'Current Prices (USD millions)'
        AND "Fund flows" = 'Grant equivalents'
        AND "Donor_1" IN {tuple(DAC_COUNTRIES)}
        AND "Aid type" = 'ODA grant equivalent as percent of GNI'
    ), 

    ranked AS (  
        SELECT
            donor,
            year,
            round(value, 2) || '%' AS "ODA as % GNI", 
            row_number() OVER (PARTITION BY year ORDER BY value DESC) AS rn
        FROM base
    )

    SELECT
        year AS "Year",
        donor AS "Donor",
        "ODA as % GNI", 
        CASE 
            WHEN rn::TEXT LIKE '%1' AND rn != 11 THEN rn || 'st'
            WHEN rn::TEXT LIKE '%2' AND rn != 12 THEN rn || 'nd'
            WHEN rn::TEXT LIKE '%3' AND rn != 13THEN rn || 'rd'
            ELSE rn || 'th'
        END AS "Rank"
    FROM ranked
    ORDER BY year, rn
    """
    result = conn.execute(query).fetchdf()

#TODO: Slight rounding issues here. 
result.to_csv(data_save_path / "DT_update" / "alldonor_2B_ODAGNIranking.csv", index=False)

## 3A TOTAL ODA Over Time
CUT

## 3B Refugee

R code: 
donor_refugee_data <- DAC1data %>%
    filter(
      Year >= end_year - 4,
      donor_name == current_donor,
      amount_type == "Constant Prices",
      flow_type == "Net Disbursements",
      aid_type %in% c(
        "I.A.8.2. Refugees in donor countries",
        "I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)",
        "I.B.1.2. EU institutions",
        "I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)"
      )
    ) %>%
    select(aid_type, Year, Value) %>%
    group_by(Year) %>%
    summarise(
      `ODA for Development Priorities` = sum(Value * case_when(
        aid_type %in% c("I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)") ~ 1,
        aid_type %in% c("I.A.8.2. Refugees in donor countries") ~ -1,
        aid_type %in% c("I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)") ~ 1,
        aid_type %in% c("I.B.1.2. EU institutions") ~ -1,
        TRUE ~ 0
      )),
      `Contributions to EUI` = sum(Value * case_when(
        aid_type %in% c("I.B.1.2. EU institutions") ~ 1,
        TRUE ~ 0
      )),
      `In-donor Refugee Costs` = sum(Value * case_when(
        aid_type %in% c("I.A.8.2. Refugees in donor countries") ~ 1,
        TRUE ~ 0
      ))
    )

In [30]:
with duckdb.connect() as conn:
    query = f"""
    WITH base AS (
        SELECT 
            "Donor_1" AS donor,
            "Year" AS year,
            "Aid type" AS aid_type,
            "VALUE" AS value
        FROM '{dac1_file.as_posix()}'
        WHERE 1=1
        AND year BETWEEN 2019 AND 2023
        AND "Amount type" = 'Constant Prices (2022 USD millions)'
        AND "Fund flows" = 'Net Disbursements'
        AND "Aid type" IN (
            'I.A.8.2. Refugees in donor countries',
            'I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)',
            'I.B.1.2. EU institutions',
            'I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)'
        )
    ), 

    filtered AS (
    SELECT
        donor,
        year,  
        SUM(value * 
        CASE 
            WHEN aid_type = 'I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)' THEN 1
            WHEN aid_type = 'I.A.8.2. Refugees in donor countries' THEN -1
            WHEN aid_type = 'I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)' THEN 1
            WHEN aid_type = 'I.B.1.2. EU institutions' THEN -1
            ELSE 0
        END
        ) AS "ODA for Development Priorities", 
        SUM(value *
        CASE 
            WHEN aid_type = 'I.B.1.2. EU institutions' THEN 1
            ELSE 0
        END
        ) AS "Contributions to EUI", 
        SUM(value *
        CASE
            WHEN aid_type = 'I.A.8.2. Refugees in donor countries' THEN 1
            ELSE 0
        END
        ) AS "In-donor Refugee Costs"
    FROM base
    GROUP BY donor, year

    )
    SELECT
        donor,
        year AS "Year",
        "ODA for Development Priorities",
        "Contributions to EUI",
        "In-donor Refugee Costs"
    FROM filtered f
    ORDER BY year, donor
    """
    result = conn.execute(query).fetchdf()


for donor in DAC_COUNTRIES:
    if donor in ['Austria', 'Belgium', 'Denmark', 'Finland', 'Ireland', 'Luxembourg', 'Switzerland']:
        save_path = data_save_path / "OP" / f"{donor}_3B_refugee.csv"
    else: 
        save_path = data_save_path / "DT_update" / f"{donor}_3B_refugee.csv"
    
    data = result[result["donor"] == donor][['Year', 'ODA for Development Priorities', 'Contributions to EUI', 'In-donor Refugee Costs']]
    data.to_csv(save_path, index=False)
    
# result[result["donor"] == "Austria"][['Year', 'ODA for Development Priorities', 'Contributions to EUI', 'In-donor Refugee Costs']].to_csv("Austria_3B_refugee.csv", index=False)

## 4 BI-MULTI

R code for Bi-multi
for (current_donor in specified_countries) {
  donor_multi_bi_data <- DAC1data %>% 
    filter(Year >= end_year_dac - 4) %>%
    filter(
      Year <= end_year_dac,
      donor_name == current_donor,
      amount_type == "Constant Prices",
      flow_type == "Gross Disbursements",
      aid_type %in% c(
        "I. Official Development Assistance (ODA) (I.A + I.B)",
        "I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)",
        "I.A. Memo: ODA channelled through multilateral organisations",
        "I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)")) %>%
    select(aid_type, Year, Value) %>%
    summarise(
      `Year` = Year[aid_type %in% c("I.A. Memo: ODA channelled through multilateral organisations")],
      `Bilateral funding` = Value[aid_type %in% c("I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)")] - Value[aid_type %in% c("I.A. Memo: ODA channelled through multilateral organisations")],
      `Bilateral as earmarked funding through multilaterals` = Value[aid_type %in% c("I.A. Memo: ODA channelled through multilateral organisations")],
      `Multilateral as core contributions to organizations` = Value[aid_type %in% c("I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)")],
      `Total ODA` = Value[aid_type %in% c("I. Official Development Assistance (ODA) (I.A + I.B)")]
    ) %>%
    mutate(
      `Bilateral` = paste0(round(`Bilateral funding` / `Total ODA` * 100), "%"),
      `Earmarked` = paste0(round(`Bilateral as earmarked funding through multilaterals` / `Total ODA` * 100), "%"),
      `Multilateral` = paste0(round(`Multilateral as core contributions to organizations` / `Total ODA` * 100), "%")
    ) %>%
    select(`Year`, `Bilateral funding`, `Bilateral as earmarked funding through multilaterals`, `Multilateral as core contributions to organizations`, `Bilateral`, `Earmarked`, `Multilateral`)
  #print(donor_multi_bi_data)

In [ ]:
#TODO: REMOVE Memo earmarked

# -
#             SUM(CASE 
#                 WHEN aid_type = 'I.A. Memo: ODA channelled through multilateral organisations' THEN "value" 
#                 ELSE 0
#                 END)
# SUM(CASE 
#                 WHEN aid_type = 'I.A. Memo: ODA channelled through multilateral organisations' THEN "value" 
#                 ELSE 0
#                 END) AS "Bilateral as earmarked funding through multilaterals",
# coalesce("Bilateral as earmarked funding through multilaterals", 0) AS "Bilateral as earmarked funding through multilaterals",
# round( 100 * coalesce("Bilateral as earmarked funding through multilaterals", 0) / "Total ODA")::INT || '%' AS "Earmarked",

with duckdb.connect() as conn:
    query = f"""
    WITH base AS (
        SELECT 
            "Donor_1" AS donor,
            "Year" AS year,
            "Aid type" AS aid_type,
            "VALUE" AS value
        FROM '{dac1_file.as_posix()}'
        WHERE 1=1
        AND year BETWEEN 2019 AND 2023
        AND "Amount type" = 'Constant Prices (2022 USD millions)'
        AND "Fund flows" = 'Grant equivalents'
        AND "Aid type" IN (
            'I. Official Development Assistance (ODA) (I.A + I.B)',
            'I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)',
            'I.A. Memo: ODA channelled through multilateral organisations',
            'I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)'
        )
    ), 

    filtered AS (  
        SELECT
            donor,
            year AS "Year",
            SUM(CASE 
                WHEN aid_type = 'I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)' THEN "value" 
                ELSE 0
            END)  AS "Bilateral funding",
            SUM(CASE 
                WHEN aid_type = 'I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)' THEN "value" 
                ELSE 0
                END) AS "Multilateral as core contributions to organizations",
            SUM(CASE 
                WHEN aid_type = 'I. Official Development Assistance (ODA) (I.A + I.B)' THEN "value" 
                ELSE 0
                END) AS "Total ODA"
        FROM base
        GROUP BY 1,2
    )
    SELECT
        donor,
        "Year",
        "Total ODA",
        coalesce("Bilateral funding", 0) AS "Bilateral funding",
        coalesce("Multilateral as core contributions to organizations", 0) AS "Multilateral as core contributions to organizations", 
        round( 100 * coalesce("Bilateral funding", 0) / "Total ODA")::INT || '%'  AS "Bilateral",
        round( 100 * coalesce("Multilateral as core contributions to organizations", 0) / "Total ODA")::INT || '%' AS "Multilateral"
    FROM filtered
    ORDER BY "Year"
    """
    result = conn.execute(query).fetchdf()

for donor in DAC_COUNTRIES:
    if donor in ['Austria', 'Belgium', 'Denmark', 'Finland', 'Ireland', 'Luxembourg', 'Switzerland']:
        save_path = data_save_path / "OP" / f"{donor}_4_bimulti.csv"
    else: 
        save_path = data_save_path / "DT_update" / f"{donor}_4_bimulti.csv"
    
    data = result[result["donor"] == donor][["Year",
                                             "Bilateral funding",
                                             "Multilateral as core contributions to organizations",
                                             "Bilateral",
                                             "Multilateral"]]
    data.to_csv(save_path, index=False)

KeyError: "['Bilateral as earmarked funding through multilaterals', 'Earmarked'] not in index"

In [97]:
with duckdb.connect() as conn:
    query = f"""
    SELECT 
        "Donor_1" AS donor,
        "Year" AS year,
        "Aid type" AS aid_type,
        "Fund flows",
        "Amount type",
        "VALUE" AS value
    FROM '{dac1_file.as_posix()}'
    WHERE 1=1
    AND year BETWEEN 2023 AND 2023
    AND "Fund flows" = 'Net Disbursements'
    AND "Amount type" = 'Constant Prices (2022 USD millions)'
    AND "Donor_1" = 'Germany'
    order by "Fund flows", "Aid type"
    """
    result = conn.execute(query).fetchdf()

print(result)

      donor  year                                                                                            aid_type         Fund flows                          Amount type         value
0   Germany  2023                                                       Memo: World Bank, Total (I.B.1.3. + I.B.1.4.)  Net Disbursements  Constant Prices (2022 USD millions)  1.580957e+03
1   Germany  2023                                                                                                 GNI  Net Disbursements  Constant Prices (2022 USD millions)  4.240031e+06
2   Germany  2023                                                I. Official Development Assistance (ODA) (I.A + I.B)  Net Disbursements  Constant Prices (2022 USD millions)  3.219499e+04
3   Germany  2023               I.A. Bilateral Official Development Assistance by types of aid (1+2+3+4+5+6+7+8+9+10)  Net Disbursements  Constant Prices (2022 USD millions)  2.451645e+04
4   Germany  2023                                                                               I.A.1. Budget support  Net Disbursements  Constant Prices (2022 USD millions)  1.115318e+03
5   Germany  2023                                                  I.A.7. Administrative costs not included elsewhere  Net Disbursements  Constant Prices (2022 USD millions)  7.825878e+02
6   Germany  2023                                                                I.A.8.2. Refugees in donor countries  Net Disbursements  Constant Prices (2022 USD millions)  6.486331e+03
7   Germany  2023  I.B. Multilateral Official Development Assistance (capital subscriptions are included with grants)  Net Disbursements  Constant Prices (2022 USD millions)  7.678541e+03
8   Germany  2023                                                                                I.B.1.1. UN agencies  Net Disbursements  Constant Prices (2022 USD millions)  8.933026e+02
9   Germany  2023                                                                            I.B.1.2. EU institutions  Net Disbursements  Constant Prices (2022 USD millions)  3.110682e+03
10  Germany  2023                                                                 I.B.1.5. Regional development banks  Net Disbursements  Constant Prices (2022 USD millions)  3.356392e+02
11  Germany  2023                                                                                          Population  Net Disbursements  Constant Prices (2022 USD millions)           NaN

## Sector: Gender Equality (sector filter for Gender Equality)
filtered for gender in other columns 

OECD CRS: bilateral data (gender markers data) 

Donors: all DAC countries (excl. EUI) 

Years: 2018 – 2023

Flowtype: Gross disbursements 

Price: Prices in latest year  

Measure: ODA grants, ODA loans, equity investments (all official development assistance) 

Gender Marker: principal and significant  

Total: Bilateral allocable ODA (not total ODA)

In [ ]:
## Chart

In [ ]:
with duckdb.connect() as conn:

    # CRS DATA
    base_query = f"""
    SELECT 
        year,
        purpose_name,
        'Education' AS sector,
        sum(usd_disbursement_defl), 
        
    FROM '{crs_file.as_posix()}'
    WHERE donor_name IN {tuple(DAC_COUNTRIES)}
    AND year BETWEEN 2018 AND 2022
    AND (sector_name IN {tuple(education)}
    OR purpose_name IN {tuple(education)})
    AND flow_name IN ('ODA Grants', 'ODA Loans', 'Equity Investment')
    GROUP BY 1,2
    ORDER BY 2, 1 DESC
    """
    result = conn.execute(base_query).fetchdf()
print(result)

    year                                                       purpose_name     sector  sum(usd_disbursement_defl)
0   2022                         Advanced technical and managerial training  Education                  209.523107
1   2021                         Advanced technical and managerial training  Education                  136.437946
2   2020                         Advanced technical and managerial training  Education                  151.870645
3   2019                         Advanced technical and managerial training  Education                  136.660836
4   2018                         Advanced technical and managerial training  Education                  130.688421
5   2022                                       Basic life skills for adults  Education                  181.843338
6   2021                                       Basic life skills for adults  Education                  174.373431
7   2020                                       Basic life skills for adults  Education                  151.204504
8   2019                                       Basic life skills for adults  Education                  167.775611
9   2018                                       Basic life skills for adults  Education                  211.407492
10  2022                                        Basic life skills for youth  Education                   42.957645
11  2021                                        Basic life skills for youth  Education                   31.264618
12  2020                                        Basic life skills for youth  Education                   25.512820
13  2019                                        Basic life skills for youth  Education                    8.568457
14  2018                                        Basic life skills for youth  Education                    4.672928
15  2022                                          Early childhood education  Education                   44.551799
16  2021                                          Early childhood education  Education                   87.395349
17  2020                                          Early childhood education  Education                   47.902585
18  2019                                          Early childhood education  Education                   55.213141
19  2018                                          Early childhood education  Education                   44.522027
20  2022                                  Education facilities and training  Education                  573.880673
21  2021                                  Education facilities and training  Education                  740.426126
22  2020                                  Education facilities and training  Education                  734.787753
23  2019                                  Education facilities and training  Education                  698.029965
24  2018                                  Education facilities and training  Education                  601.472416
25  2022                     Education policy and administrative management  Education                 1050.681834
26  2021                     Education policy and administrative management  Education                  817.909655
27  2020                     Education policy and administrative management  Education                  794.495027
28  2019                     Education policy and administrative management  Education                  794.443386
29  2018                     Education policy and administrative management  Education                  729.530420
30  2022                                               Educational research  Education                   47.908990
31  2021                                               Educational research  Education                   59.925223
32  2020                                               Educational research  Education                   58.934495
33  2019                                               Educational research  Education                   59.944128
34  2018                                               Educational research  Education                   66.636388
35  2022                                                   Higher education  Education                 4405.758250
36  2021                                                   Higher education  Education                 4179.475041
37  2020                                                   Higher education  Education                 4170.155351
38  2019                                                   Higher education  Education                 4143.307309
39  2018                                                   Higher education  Education                 3818.882175
40  2022                                          Lower secondary education  Education                   27.286378
41  2021                                          Lower secondary education  Education                   42.285457
42  2020                                          Lower secondary education  Education                   10.871411
43  2019                                          Lower secondary education  Education                   17.252983
44  2018                                          Lower secondary education  Education                   20.996475
45  2022                                                  Primary education  Education                 1504.299081
46  2021                                                  Primary education  Education                 1908.903655
47  2020                                                  Primary education  Education                 2237.503463
48  2019                                                  Primary education  Education                 2522.216675
49  2018                                                  Primary education  Education                 2495.888669
50  2022                            Primary education equivalent for adults  Education                    3.824835
51  2021                            Primary education equivalent for adults  Education                    4.223536
52  2020                            Primary education equivalent for adults  Education                    1.267758
53  2019                            Primary education equivalent for adults  Education                    7.163578
54  2018                            Primary education equivalent for adults  Education                    0.619085
55  2022                                                     School feeding  Education                  252.622853
56  2021                                                     School feeding  Education                  284.818648
57  2020                                                     School feeding  Education                  249.385735
58  2019                                                     School feeding  Education                  147.835823
59  2018                                                     School feeding  Education                  340.037319
60  2022                                                   Teacher training  Education                  142.630192
61  2021                                                   Teacher training  Education                  122.007372
62  2020                                                   Teacher training  Education                  166.173816
63  2019                                                   Teacher training  Education                  171.511903
64  2018                                                   Teacher training  Education                  163.969041
65  2022  Upper Secondary Education (modified and includes data from 11322)  Education                  321.108751
66  2021  Upper Secondary Education (modified and includes data from 11322)  Education                  371.559131
67  2020  Upper Secondary Education (modified and includes data from 11322)  Education                  438.604792
68  2019  Upper Secondary Education (modified and includes data from 11322)  Education                  433.354011
69  2018  Upper Secondary Education (modified and includes data from 11322)  Education                  291.630501
70  2022                                                Vocational training  Education                  913.953428
71  2021                                                Vocational training  Education                  725.818365
72  2020                                                Vocational training  Education                  806.212023
73  2019                                                Vocational training  Education                  909.261856
74  2018                                                Vocational training  Education                  845.568719

## Education, Health, Agriculture depend on ONE Campaign
All count as education( 
Education policy and administrative management
 Education facilities and training
 Teacher training
 Educational research
 Primary education
Basic life skills for adults
Basic life skills for youth
Primary education equivalent for adults
 Early childhood education
School feeding
 Secondary education
Lower secondary education
Upper Secondary Education (modified and includes data from 11322)
 Vocational training
 Higher education
 Advanced technical and managerial training)

NameError: name '__file__' is not defined